* {
  box-sizing: border-box;
  
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #f1f5f9;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}